* {
	box-sizing: border-box;
	list-style-type: none;
	margin: 0;
}
a {
	color: inherit;
	text-decoration: none;
	&:visited {
		color: inherit;
	}
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	background: $darkgrey;

	@media screen and ( max-width: 976px ){
		font-size: 2rem;
	}
}
.titre {
	width: 80%;
	margin: auto;
	text-align: center;
	h1 {
		text-transform: uppercase;
	}
	h2 {
		color: $lightgrey;
		text-transform: uppercase;
		font-size: 1.5em;
	}
	h4{
		text-transform: uppercase;
	}
}

.bg1 {
	background: center / cover url(../img/bg_01.jpg);
	background-attachment: fixed;
	.bandeau {
		position: relative;
		height: 300px;
		padding: 2em;
		.devices {
			position: absolute;
			bottom: -170px;
			left: 50%;
			transform: translateX(-50%);
			width: 500px;
			display: block;
			margin: auto;

			@media screen and ( max-width: 735px ){
				width: 70%;
			}
			@media screen and ( max-width: 575px ){
				
			}
		}
		.logoCampus{
			display: block;
			width: 300px;
			margin: 2em auto;
		}
		h4{
			width: 80%;
			margin:auto;
			text-align: center;
			color: $white;
			font-size: 2em;
			text-transform: uppercase;
		}
		h3 {
			width: 50%;
			margin: auto;
			text-align: center;
			color: $white;
		}
		h2 {
			width: 50%;
			margin: auto;
			text-align: center;
			color: $white;
		}

		.whoiam{
			width: 300px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}