@font-face{
    font-family: "source sans pro";
    font-weight: 200;
    src: url(../fonts/source_sans_pro/SourceSansPro-Light.ttf)
}
@font-face{
    font-family: "source sans pro";
    font-weight: 400;
    src: url(../fonts/source_sans_pro/SourceSansPro-Regular.ttf)
}
@font-face{
    font-family: "source sans pro";
    font-weight: 600;
    src: url(../fonts/source_sans_pro/SourceSansPro-Bold.ttf)
}
@font-face{
    font-family: "font-principal";
    src: url(../fonts/Nunito-Regular.ttf);
    font-weight: normal;
}
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;    
    font-family: font-principal, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main{
    max-width: 1240px;
    margin: 0 auto;
    box-shadow: 0px 0px 350px rgb(212, 212, 212);
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

.titre{

    margin-bottom: 2em;
    h2{ font-size: 2.5rem; text-align: center; margin: 0.5em auto; text-transform: uppercase; font-weight: bold;}
    h3{ font-size: 1.5rem; text-align: center; margin: 0.5em auto; color: $grey; text-transform: uppercase;}
}

.separation{
    background: center / cover fixed url(../img/bg_01.jpg); 
    padding: 3em;  

    
	.bandeau {
		position: relative;
        padding: 1em;
        
        h4{
            margin: 1em auto;
            text-align: center;
            color: $white;
            font-size: 1em;
            text-transform: uppercase;
        }
        h3 {
            margin: 1em auto;
            text-align: center;
            font-size: 1.5em;
            color: $white;
        }
        h2 {
            margin: 1em auto;
            font-size: 2.5rem;
            text-align: center;
            color: $white;
        }

		.devices {
            position: absolute;
			width: 500px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			margin: auto;
		}
		.logoCampus{
			display: block;
			width: 220px;
            margin: 1em auto;
            
            @media screen and (min-width: 800px){
                width: 300px;
            }
		}

		.whoiam{
            display: block;
			margin: auto;
			width: 250px;
			transform: translateY(30%);
		}
	}
}