@import "variables";
@import "globals";


#bg_container{
	background: center / cover fixed no-repeat url("../img/23964bw.jpg");
}
.reseaux {
	font-size: 0.8em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	margin: auto;
	padding: 5px 0;
    
	ul {
		display: flex;
		align-items: center;
		li {
			font-size: 0.8em;
			color: $white;
			padding: 5px 20px;
		}
    }
    
	img {
		width: 20px;
		margin-right: 5px;
	}
}
header {
	position: relative;
	width: 100%;
	height: 60px;
	background: $grey;
	opacity: 3;

	@media screen and ( max-width: 940px ){
		display: none;
	}
}
nav {
	position: absolute;
	right: 0;
	top: 10px;
    text-align: center;
    
	ul {
		display: flex;
		align-items: center;
        margin-right: 100px;
        
		li {
			img {
				width: 15px;
			}
		}
	}
	>ul {
		>li {
			font-size: 0.8em;
			text-transform: uppercase;
			color: $white;
			&:hover {
				background: $red;
				transition-duration: 0.7s;
			}
			>a {
				display: inline-block;
				padding: 10px 50px;
			}
			>.home {
				padding: 10px 20px !important;
			}
		}
	}

	@media screen and ( max-width: 940px ){
		display: none;
	}
}

.vh {
	width: 100%;
	overflow: hidden;
	padding: 6em;
	
	.vh_content {
		width: 70%;
		margin: auto;
		color: $white;
		font-size: 1.5em;
		text-align: center;
		text-transform: uppercase;

		.circle{
			position: relative;
			width: 350px;
			height: 350px;
			background: #eee;
			border-radius: 50%;
			margin: 20px;
			
			float: left;
			shape-outside: circle(50%);
			
			border: 5px solid $white;
			background: $red;

			.avatar{
				position: absolute;
				width: 80%;
				height: 80%;
				background: center / contain no-repeat url(../img/panda.png);
				left: 50%;
				top: 50%;

				transform: translate(-50%, -50%);
			}

			@media screen and ( max-width: 1415px ){
				float: none;
				margin: 2em  auto;
			}
		}

		.description{
			text-align: left;
			letter-spacing: 0;
			text-transform: none;

			p{
				line-height: 1.5em;
			}

			em{
				color: $red;
			}

			@media screen and ( max-width: 1415px ){
				text-align: center;
			}
		}
	}

	@media screen and ( max-width: 1415px ){
		padding: 0 0 30px 0;
	}	
}
#services {
	background: $white;
	padding-top: 30px;
	.services_containt_bloc {
		width: 80%;
		margin: 30px auto 0 auto;
		padding: 30px;
		background: center url("../img/worldMap.png");
	}
	.services_containt {
		width: 80%;
		display: flex;
		justify-content: space-evenly;
		margin: 30px auto;

		.blocLeft {
			width: 500px;
			>.txt {
				float: left;
			}
			&:hover {
				h5 {
					color: $black;
				}
				.icon {
					background: center / cover url(../img/iconPlusHover.png);

					@media screen and ( max-width: 1360px ){
						visibility: hidden;
					}
				}
			}

			.decale{
				transform: translateX(-20px);
			}
		}
		.blocRight {
			width: 500px;

			.txt {
				float: right;
			}
			
			&:hover {
				h5 {
					color: $black;
				}
				.icon {
					background: center / cover url(../img/iconPlusHover.png);

					@media screen and ( max-width: 1360px ){
						visibility: hidden;;
					}
				}
			}

			.decale{
				transform: translateX(20px);
			}
		}

		.txt {
			width: 80%;
		}

		h4 {
			color: $red;
			text-transform: capitalize;
		}
		
		h5 {
			color: $grey;
			&:hover {
				color: $darkgrey;
			}
		}

		.icon {
			width: 55px;
			height: 55px;
			display: inline-block;
			background: center / cover url(../img/iconPlus.png);

			@media screen and ( max-width: 1360px ){
				visibility: hidden;;
			}
		}
	}
}

#competences {
	padding-top: 150px;
	background: $white;

	.competences_containt {
		width: 80%;
		margin: auto;
		margin-top: 50px;
		text-align: justify;
		display: flex;
		justify-content: space-around;

		.comp_domaine {
			position: relative;
			ul {
				>li {
					&::before {
						content: "√";
						margin-right: 10px;
						color: $green;
						position: absolute;
						left: 40px;
						font-size: 1.2em;
						font-weight: bold;

						@media screen and ( max-width: 1132px ){
							content: "";
						}
					}
					@media screen and ( max-width: 1132px ){
						text-align: center;
					}
				}

			}


		}
		>div {
			&:nth-child(1n) {
				padding: 20px;
				flex: 1;
			}
		}
		ul {
			margin: 20px 0;
		}
		li {
			color: $grey;
			margin-top: 20px;
			font-size: 0.8em;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			>strong {
				text-transform: uppercase;
				letter-spacing: 0px;
				font-size: 1.2em;
				color: $red;
			}
		}

		@media screen and ( max-width: 1132px ){
			display: block;
			width: 95%;
			margin: 3rem auto 0 auto;
		}
	}
}
.progressBarList {
	.progressBar {
		color: $white;
		background: $lightgrey;
		>span {
			text-transform: uppercase;
			background: $red;
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 10px;
		}
	}
}
.progHTML {
	display: inline-block;
	width: 80%;
}
.progPHP {
	display: inline-block;
	width: 30%;
}
.progJS {
	display: inline-block;
	width: 50%;
}
.progSQL {
	display: inline-block;
	width: 30%;
}
.progPS {
	display: inline-block;
	width: 30%;
}
.progILL {
	display: inline-block;
	width: 30%;
}
.progIND {
	display: inline-block;
	width: 40%;
}
.progXD {
	display: inline-block;
	width: 20%;
}

#portfolio
{
	width: 100%;
	padding: 30px;
	background: $white;

	.portfolio_contain{
		width: 80%;
		margin: auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.card{
			margin: 50px;
			background: $lightgrey;
			padding: 30px 20px 10px 20px;
			border-radius: 2%;

			background: linear-gradient(to bottom right, $grey, $white, $grey, $lightgrey, $grey, $white);
			box-shadow: 10px 10px 15px $darkgrey;

			img{
				border-radius: 2%;

				@media screen and ( max-width: 1132px ){
					width: 100%;
				}
			}

			&_description{
				margin-top: 0.5em;
				color: $white;
				text-align: center;

				text-transform: uppercase;
				
				h5:first-child{
					font-size: 1.1em;
					font-weight: 300;
					padding: 5px;
				}
				h5:last-child{
					color: $darkgrey;
					text-transform: uppercase;
				}

				@media screen and ( max-width: 1132px ){
					margin-top: 0;
				}
			}

			@media screen and ( max-width: 585px ){
			width: 95%;
			padding: 10px
		}
		}
	}
}

#about{
	background: $white;
	padding: 30px;

	.about_content{
		width: 80%;
		margin: 50px auto;
		display: flex;
		justify-content: center;

		.bloc{
			margin: 0 10px;
			flex: 1;

			p{
				text-align: justify;
				text-align: left;
				color: $grey;
				font-size: 1rem;
				padding: 10px;
				line-height: 1.5rem;

				span{
					text-decoration: underline;
				}

				@media screen and ( max-width: 1415px ){
				text-align: justify;
				}
			}

			
			@media screen and ( max-width: 1360px ){
				margin: 50px 30px;
			}
		}
		
		img{
			width: 100% ;

			@media screen and ( max-width: 1415px ){
				display: block;
				margin: auto;
			}
		}
		@media screen and ( max-width: 1415px ){
			flex-direction: column;
			margin-bottom: 50px;
		}
	}
}