meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="./scss/animate/animate.css")
link(rel="stylesheet", href="css/app.css")
title Gabriel Gobin - Développeur Web Junior
html 
  body 

    #vh
      .vh_container
        h1 Gabriel Gobin
        h2
          | Développeur web 
          span &
          |  web mobile
    main
      #services
        .titre
          h2 ma formation
          h3 ce que j'ai appris
        .services_content
          .services_content_bloc_1
            ul
              li Gestion de projet web
              li Concepts clés de la gestion de projet
              li Organisation et planification d’un projet
            ul
              li partie front-end d'un site web
              li Enjeux de l’UX et l’UI
              li HTML - CSS - responsiv design
            ul
              li Interface web dynamique
              li Norme Mobile App
              li Bases de l’algorithmique et sa maîtrise
            ul
              li Gestion de site e-commerce
              li Principe de Workflow
              li Enjeux de l’optimisation et du référencement
          .services_content_bloc_2
            ul
              li Crée une base de données
              li Système de gestion de base de données SQL
              li L'asynchrone / AJAX / XML / J-SON
            ul
              li Composants d'accès aux données
              li PHP - Programmation orientée objet
            ul
              li Partie back-end d'un site web
              li Javascript - React - Angular
            ul 
              li Gestion de contenus ou e-commerce
              li Wordpress - Prestashop
      .separation
        .bandeau
          h3 Compatible Mobile, Tablette et PC
          h2 Développement Web Responsive
          img.devices(src="img/devices.png", alt="devices")           
                  
      #competences
        .titre
          h2 Mes Compétences
          h3 à votre services
        .competences_content
          .comp_domaine
            h3 Domaine de compétences
            ul
              li Gestion de projet
              li Site Vitrine - e-commerce - application mobile
            ul
              li conception graphique et webdesign
              li Logo - Template - plaquette publicitaire - affiche - carte de visite
            ul
              li Application spécifique
              li PHP - MYSQL - AJAX - JSON
            ul
              li Intégration HTML / CSS
              li HTML - CSS codé à la main
            ul
              li Dynamisme des pages
              li JavaScript - jQuery - Ajax
            ul
              li Référencement SEO
              li érgonomie & accessibilité des pages
            ul
              li Design Responsive
              li conception multi-support - mobile - pc - tablette
          .comp_dev
            h3 Compétences de développement
            ul.progressBarList
              li
                .progressBar
                  span.progHTML html / css
              li
                .progressBar
                  span.progPHP php
              li
                .progressBar
                  span.progJS javascript
              li
                .progressBar
                  span.progSQL mysql
            h3 Compétences en graphisme
            ul.progressBarList
              li
                .progressBar
                  span.progPS photoshop
              li
                .progressBar
                  span.progILL illustrator
              li
                .progressBar
                  span.progIND in design
              li
                .progressBar
                  span.progXD adobe xd
      .separation
        .bandeau
          h2 Actuellement en formation
          a(href="https://www.campusdulac.com/", target="_blanck")
            img.logoCampus(src="img/Logo-Campus-du-Lac.png", alt="Logo Campus du lac")
                  
      #portfolio
        .titre
          h2 Portfolio
          h3 Ce que j'ai réalisé
        .portfolio_content
          .card.projetBlog
            .card_descriptif.card_descriptif_right
              img.cursor(src="img/cursor.svg", alt="cliquez-ici")
              h2 Mon Super Blog
              p Ce blog a été réalisé dans le cadre d'un exercice.
              p
                | Proposé par : 
                a(href="https://grafikart.fr/", target="_blank") Graphikart
              ul
                li
                  a(href="https://int2cs.github.io/blog", target="_blank")
                    button Voir le site
              .lang
                h3 Langages utilisés
                ul
                  li
                    img(src="img/languages/html5.png", alt="HTML5")
                  li
                    img(src="img/languages/css3.png", alt="CSS3")
          
          .card.projetSocial
            .card_descriptif.card_descriptif_left
              img.cursor(src="img/cursor.svg", alt="cliquez-ici")
              h2 Projet Social
              p Ce reseau social a été réalisé dans le cadre d'un exercice.
              p
                | Proposé par : 
                a(href="https://grafikart.fr/", target="_blank") Graphikart
              ul
                li
                  a(href="https://int2cs.github.io/social", target="_blank")
                    button Voir le site
              .lang
                h3 Langages utilisés
                ul
                  li
                    img(src="img/languages/html5.png", alt="HTML5")
                  li
                    img(src="img/languages/css3.png", alt="CSS3")
          
          .card.projetRun
            .card_descriptif.card_descriptif_right
              img.cursor(src="img/cursor.svg", alt="cliquez-ici")
              h2 Projet Run
              p
                | Ce site vitrine a été réalisé dans le cadre de ma formation.
                br
                | Une maquette nous à été fournis.
              ul
                li
                  a(href="http://int2cs.github.io/run", target="_blank")
                    button Voir le site
                li
                  | GitHub du projet > 
                  a(href="https://github.com/int2cs/run", target="_blank") ici
              .lang
                h3 Langages utilisés
                ul
                  li
                    img(src="img/languages/html5.png", alt="HTML5")
                  li
                    img(src="img/languages/css3.png", alt="CSS3")
          
          .card.projetMontain
            .card_descriptif.card_descriptif_left
              img.cursor(src="img/cursor.svg", alt="cliquez-ici")
              h2 Montain View
              p
                | Ce site vitrine a été réalisé dans le cadre de ma formation.
                br
                | Une maquette nous à été fournis.
              ul
                li
                  a(href="http://int2cs.github.io/montain", target="_blank")
                    button Voir le site
                li
                  | GitHub du projet > 
                  a(href="https://github.com/int2cs/montain", target="_blank") ici
              .lang
                h3 Langages utilisés
                ul
                  li
                    img(src="img/languages/html5.png", alt="HTML5")
                  li
                    img(src="img/languages/css3.png", alt="CSS3")
          
          .card.projetAnda
            .card_descriptif.card_descriptif_right
              img.cursor(src="img/cursor.svg", alt="cliquez-ici")
              h2 Collectif Anda
              p
                | Ce site web a été réalisé à la demande de l'association Anda dont je fais partie
                br
                | Le design à été fait par 
                a(href="https://fr.linkedin.com/in/juliane-denogent-96aa9bb", target="_blank") une graphiste
              ul
                li
                  a(href="https://www.collectif-anda.fr", target="_blank")
                    button Voir le site
              .lang
                h3 Langages utilisés
                ul
                  li
                    img(src="img/languages/html5.png", alt="HTML5")
                  li
                    img(src="img/languages/css3.png", alt="CSS3")
                  li
                    img(src="img/languages/sass.png", alt="Sass")
                  li
                    img(src="img/languages/js.png", alt="JavaScript")
                  li
                    img(src="img/languages/php.png", alt="PHP")
          
          .card.projetGaming
            .card_descriptif.card_descriptif_left
              img.cursor(src="img/cursor.svg", alt="cliquez-ici")
              h2 Gaming Campus
              p
                | Ce site vitrine a été réalisé dans le cadre de ma formation.
                br
                | Une maquette nous à été fournis.
              ul
                li
                  a(href="http://int2cs.github.io/GamingCampus", target="_blank")
                    button Voir le site
                li
                  | GitHub du projet > 
                  a(href="https://github.com/int2cs/GamingCampus", target="_blank") ici
              .lang
                h3 Langages utilisés
                ul
                  li
                    img(src="img/languages/html5.png", alt="HTML5")
                  li
                    img(src="img/languages/css3.png", alt="CSS3")
          .card.projetFiasco
            .card_descriptif.card_descriptif_right
              img.cursor(src="img/cursor.svg", alt="cliquez-ici")
              h2 The Fiasco
              p
                | Ce site vitrine a été réalisé dans le cadre de ma formation.
                br
                | Une maquette nous à été fournis.
              ul
                li
                  a(href="http://int2cs.github.io/fiasco", target="_blank")
                    button Voir le site
                li
                  | GitHub du projet > 
                  a(href="https://github.com/int2cs/fiasco", target="_blank") ici
              .lang
                h3 Langages utilisés
                ul
                  li
                    img(src="img/languages/pug.png", alt="PUG")
                  li
                    img(src="img/languages/sass.png", alt="Sass")
      .separation
        .bandeau
          h3 Passioné et motivé
          h2 Je souhaite en faire mon métier
          img.whoiam(src="./img/who-am-i.png", alt="Qui Suis-Je ?")               
                      
      #about
          .titre
            h2 Qui Suis-je
            h3 je me présente à vous
          .about_content
            .bloc
              h2 Passionné par le développement
              p Passionné par l'informatique depuis mon adolescence, j'ai commencé la programmation à l'age de 13ans.
              p
                | Ma première expérience sur le 
                span
                  a(href="https://fr.wikipedia.org/wiki/Langage_de_script") langage de script
                |  m'a rapidement enmené à me tourner vers des langages de programmation tel que Perl et Python pour finir avec HTML/CSS ainsi que PHP pour la création de site internet.

              p Dès lors, je n'ai eu cesse de vouloir progresser continuellement sur ces langages et approfondir mes connaissances. C'est donc tout naturellement que je me suis tourné vers le JAVASCRIPT. J'aime apprendre et découvrir de nouvelles fonctionnalitées.
            .img
              img(src="./img/dev.png", alt="alt:img_devices")
            .bloc
              h2 Mon expérience à votre service
              p Ma passion m'a emmené à développer divers sites internet en tout genre.
              p Du blog au site plus qualitatif en passant par divers CMS tel que Wordpress ou Drupal, je sais mettre mon expérience à profis afin de finaliser les projets dans lesquels je me lance.
              p
                | De plus, ma formation 
                em Développeur Web & Web Mobile
                |  ne fait qu'accroître mes connaissances déjà bien établie.
      
      footer
        a(href="#vh") 
          img(src="img/up-arrow.svg", alt="remonter").arrowUp
        #footer
          .bloc 
            p 
              | Ce site est réalisé dans le cadre de ma recherche de stage.
              br
              | Il a vocation à continuellement évoluer.
              br
              | Vous pouvez consulter le projet sur 
              a(href="https://github.com/int2cs/int2cs.github.io" target="_blank") GitHub
          .bloc 
            ul 
              li 
                a(href="https://www.linkedin.com/in/gabriel-gobin/" target="_blank").linkedin LinkedIn 
              li 
                a(href="https://github.com/int2cs").github GitHub

    script(src="./js/jquery.dev.js") 
    script(src="./js/app.js")     
  